.data-container {
  background-color: #d9e2ec;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 90vw;
}

@media screen and (max-width: 450px) {
  .data-container {
    width: 390px;
  }
}

.data-head-text {
  text-align: center;
  padding: 0 0.7rem;
  grid-area: "d";
}

@media screen and (min-width: 760px) {
  .data-container {
    width: 75vw;
  }
  .data-head-text {
    font-size: 1.3rem;
    display: flex;
    margin: 3.3rem 0 0 0;
  }
}

@media screen and (max-width: 400px) {
  .data-container {
    width: 370px;
  }
}

@media screen and (max-width: 380px) {
  .data-container {
    width: 350px;
  }
}
@media screen and (min-width: 760px) {
  .wrap-container {
    display: grid;
    place-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "d h"
      "d h"
      "f f";
  }
}

.data {
  grid-area: "h";
}

.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrd {
  margin: 2rem auto;
}

.button {
  margin: 3rem 0;
  color: #fff;
  background: #06020d;
  border: none;
  border-radius: 7px;
  padding: 5px 9px;
  font-weight: bold;
  grid-area: "f";
}

@media screen and (min-width: 910px) {
  .btn-cont {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 20vw;
    margin-bottom: 1rem;
  }

  .button {
    margin: 0 auto 1rem auto;
  }
  .data-head-text {
    margin: 3.3rem 0 0 0;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 760px) {
  .btn-cont {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}

.button2 {
  color: #234679;
  background-color: #d9e2ec;
  border: none;
  border-radius: 7px;
  padding: 5px 9px;
  font-weight: bold;
  margin: 3rem 0;
}
