body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(19, 23, 35);
  background: radial-gradient(
    circle,
    rgba(19, 23, 35, 1) 11%,
    rgba(19, 35, 34, 1) 26%,
    rgba(199, 219, 227, 1) 85%,
    rgba(255, 255, 255, 1) 97%
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
